.card {
    width: 32%;
    margin-right: 1%;
}

.my-container {
    margin: 7% 0% 5% 0%;
}

#sign-up-container {
    text-align: center;
}

#sign-up {
    color: black;
    font-weight: bold;
}

.danger{
    border: 1px solid red;
    color: red;
    margin-left: 0.9%;
    width: 492px;
}

.success{
    border: 1px solid green;
    color: black;
    margin-left: 0.9%;
    width: 492px;
}

.photo {
    width: 100%;
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.captcha-box{
    text-align: center;
    margin-top: 15px;
}

.g-recaptcha{
    display: inline-block;
}
